<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - WebApplication6</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h2>USB Access Management</h2>
        <nav>
            <a href="Index">User</a>
            <a href="approver">Approver</a>
            <a href="login">login</a>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/script.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>