
/* background: linear-gradient(135deg, #71b7e6,#3a6073); */
/* background: linear-gradient(to right, #5f2c82, #49a09d); */
/*  yes background: linear-gradient(to right, #5f2c82, #49a09d); */
/* background: linear-gradient(to right, #7474bf, #348ac7); */
/*  yes background: linear-gradient(to right, #24c6dc, #514a9d); */
/* background: linear-gradient(to left, #283048, #859398); */
/* background: linear-gradient(to left, #16222a, #3a6073); mirage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nonelabel {
    visibility: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #24c6dc, #514a9d);
}

header {
    width: 100vw;
    background: linear-gradient(to right, #24c6dc, #514a9d);
    border-bottom: 1px solid white;
    height: 17vh;
}

    header h2 {
        margin: 2vh 0 3vh 5vh;
        color: #fff;
    }

    header nav {
        margin-left: 5vh;
        display: flex;
        margin-bottom: 1vh;
    }

        header nav a {
            text-decoration: none;
            color: white;
            margin-right: 3vh;
            font-weight: bold;
            padding: 1vh;
            border: 1px solid transparent;
        }

            header nav a:hover {
                border: 1px solid white;
            }

.userContainer {
    margin-top: 5vh;
    width: 90vw;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

    .userContainer .title,
    .table-container .title {
        font-weight: 500;
        position: relative;
        padding-bottom: 2vh;
        color: #1b1936;
    }

        .userContainer .title::before,
        .table-container .title::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background: linear-gradient(to right, #24c6dc, #514a9d);
        }

    .userContainer form .userDetails {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    .userContainer form .inputBox {
        margin-bottom: 15px;
        width: calc(100% / 3 - 20px);
    }

        .userContainer form .inputBox input:hover {
            border-color: #a6a6a6;
        }

.userDetails .inputBox label,
.userDetails .optionBox label,
.userDetails .remarksBox label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #1b1936;
}

.userDetails .inputBox input {
    height: 2em;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 0.5vw;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .userDetails .inputBox input:focus,
    .userDetails .inputBox input:valid {
        border-color: #727272;
        color: #727272;
    }

.userDetails .optionBox {
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
    transition: all 0.3s ease;
}

.userDetails select {
    height: 2em;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}



.userDetails .optionBox select:hover {
    border-color: #3a6073;
}

.userDetails .remarksBox {
    width: 100%;
    margin-bottom: 15px;
}

.userDetails textarea {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    resize: none;
}

    .userDetails textarea:hover {
        border-color: #3a6073;
    }


.button {
    height: 2em;
    width: calc(100% / 3 - 20px);
    margin: 5vh 0;
}

    .button button {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: 100;
        color: #fff;
        font-size: large;
        letter-spacing: 1px;
        background: linear-gradient(to right, #24c6dc, #514a9d);
    }

        .button button:hover {
            background: linear-gradient(to right, #1caabc, #453f86);
            cursor: pointer;
        }

.table-container {
    margin-top: 10vh;
    width: 90vw;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.tableHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff; /* Optional: Background color for header */
}

.tableBody {
    height: 300px;
    overflow-y: auto;
    position: relative;
    overflow-y: auto;
    height: calc(100% - 30px); /* Adjust the height to accommodate header height */
}

.table-container table {
    margin-top: 5vh;
    width: 100%;
}

.table-container {
    height: 300px; /* Adjust the height as needed */
    position: relative;
}

.table-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white; /* Optional: Background color for header */
}

    .table-header thead tr th {
        background-color: white;
        width: calc(100%/4);
    }

.table-body tbody tr td {
    width: calc(100%/4);
}

.table-body {
    overflow-y: auto;
    height: calc(70% - 30px); /* Adjust the height to accommodate header height */
}

/* Optional: Style for table headers */
.table-header th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Optional: Style for alternating row colors */
.table-body tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container table th {
    border-bottom: 1px solid black;
    text-align: end;
    padding-bottom: 1vh;
}

.table-container table td {
    text-align: end;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.table-container .button {
    height: 2em;
    width: calc(100% / 3 - 20px);
    margin: 5vh 0;
}

    .table-container .button button {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: 100;
        color: #fff;
        font-size: large;
        letter-spacing: 1px;
        background: linear-gradient(to right, #24c6dc, #514a9d);
    }

        .table-container .button button:hover {
            background: linear-gradient(to right, #1caabc, #453f86);
            cursor: pointer;
        }

@media (max-width:584px) {
    .userContainer {
        max-width: 100%;
    }

    form .userDetails .inputBox {
        margin-bottom: 15px;
        width: 100z
    }

    form .AccessDetails {
        margin-bottom: 15px;
        width: 100%;
    }
}
