@page
@model ITServiceApprovalProject.Pages.hodPageModel
@{
}
<div class="table-container">
    <!-- Table header with fixed positioning -->
    <div class="table-header">
        <div class="title">User Details</div>
        <table>
            <thead>
                <tr>
                    <th>EmployeeId</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Email</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Table body with scrollable content -->
    <div class="table-body">
        <table>
            <tbody>
                @foreach (var item in Model.list)
                {
                    <tr>
                        <td>@item.employeeId</td>
                        <td>@item.name</td>
                        <td>@item.department</td>
                        <td>@item.email</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
